  .themebutton {
    font-weight: bold;
    padding: 0 15px;
    
  }
  
  .themebutton--primary {
    color: #fff;
    background-color: var(--c-theme);
  }

  .themebutton--primary:hover {
    color: #fff;
    background-color: var(--c-theme-hover);
  }
 
  .themebutton--secondary {
    color: var(--c-theme);
    border: 1px solid var(--c-theme)
  }
  
  .themebutton--small {
    min-height: 30px;
  }
  .themebutton--medium {
    min-height: 39px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .themebutton--large {
    min-height: 49px;
  }
 
  
  .theme-button__disabled {
    opacity: 0.5;
  }