.button {
    background: transparent;
    color: var(--c-text-color);
    
    display: flex;
    align-items: center;
    justify-content: center;

    transition: var(--fade);
    font-size: var(--font);
    border-radius: 99px;

    text-decoration: none;
    cursor: pointer;
  }

  .button:hover {
    color: var(--c-theme);
    background-color: var(--c-theme-10);
  }
  .fullWidth {
    width: 100%;
  }
  .button-icon {
    padding: 8px;
    color: var(--c-theme);
  }
  .button-icon svg {
    font-size: 22.5px;
  }

  .button-gray{
    color: var(--input-icon)
  }

 