.list {
    display: flex;
    flex-direction: column;
    background: var(--extra-back);
    border-radius: 14px;
    margin-bottom: 20px;
    cursor: pointer;
}



.list .list__item,.list__body > * {
    padding: 10px 16px;
}
.list__body > *:hover {
  background-color: var(--trends-hover-bg);
}
.list__body > * + div{
  border-top: 1px solid var(--c-border-color);
}
.list__body > *:last-child{
  padding-bottom: 17px;
}
.list .list__item {
    padding-top: 13px;
  }






.list .list__title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  font-size: 19px;
}
.list .list__title button {
  color: var(--c-theme);
}

  .list .trend-more {
    padding: 15px;
    cursor: pointer;
    border-bottom-left-radius: 14px;
    border-bottom-right-radius: 14px;
}
.list .trend-more a {
    color: #1da1f2;
    text-decoration: none;
    font-size: 15px;
}
.list .trend-more:hover {
    background: rgba(255, 255, 255, 0.03);
    transition: all 0.2s ease-out;
    outline-style: none;
}