.profile-page__header--body {
    display: flex;
    align-items: center;
}
.profile-page__container {
    margin-left: 10px;
    margin-right: 15px;

    margin-top: -40px;

    border-bottom: 1px solid rgb(230, 236, 240);
}
.profile-page__container > div:first-child{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.profile-page__detail {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}
.profile-page__detail :not(:first-child) {
    color: var(--c-gray);
}
.profile-page__detail--b > span:first-child {
    margin-right: 15px;
}
.bold {
    color: var(--c-text-color);
}