@import './veriables.css';

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font: inherit;
    color: inherit;
  }
  a {
    text-decoration: none;
  }
  html {
    font-size: 15px;
  }
  
  body {
    font-size: 1rem;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
      Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    background-color: var(--c-primary);
    color: var(--c-text-color);
  }

  .loading {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .green:hover svg {
    color: rgb(23, 191, 69);
  }
  .green:hover {
    background-color: rgba(23, 191, 99, 0.1)
  }
  .red:hover svg {
    color: rgb(224, 36, 94);
  }
  .red:hover  {
    background-color: rgba(224, 36, 94, 0.1);
  }