.layout {
    height: 100vh;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    justify-content: center;
}

@media (min-width: 980px){
    .layout {
        max-width: 1060px;
    }
}
@media (min-width: 1270px){
    .layout{
        max-width: 1280px;
    }
}