.sidebar {
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    position: sticky;
    top: 0;
    overflow-y: auto;
    overflow-x: hidden;
  }
  
  @media (min-width: 1270px) {
    .sidebar {
        align-items: flex-start;
        padding-right: 46px;
    }
  }
  .sidebar__tweet {
    margin-top: 16px;
    margin-bottom: 20px;
  }
  @media (min-width: 1270px) {
    .sidebar__tweet {
        width: 100%;
    }
  }
  .sidebar__profile {
    width: 100%;
    margin-top: auto;
    margin-bottom: 14px;
    
  }