.navButton {
  position: relative;
  padding: 10px;
}
.navButton.twitter {
  color: var(--c-theme);
}
.navButton:global(html:not(.light)) & {
  color: white;
}
.navButton svg {
  font-size: 26px;
}
.navButton svg + h2 {
  margin-left: 20px;
  margin-right: 15px;
}

.navButton-selected {
  color: var(--c-theme);
}

.notify {
  position: absolute;
  left: 20px;
  top: 5px;
  height: 17px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 17px;
  display: flex;
  align-items: center;
  background-color: var(--c-theme);
  color: var(--c-primary);
  font-size: 11px;
  border: 1px solid var(--c-primary);
}